{{ define "main" }}
<div class="archiveblock">
  <article>
    <h3>
      <header>{{ .Title | upper }}</header>
    </h3>
    
    <div class="meta">
      <span class="date"><time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02, 2006" | upper }}</time></span>
      / 
      <span class="author">{{ .Params.author | upper }}</span>      
    </div>

    <div class="meta">
      <span class="tags">
        {{ range .Params.tags }}
          <a href="/tags/{{ . }}">{{ . | upper }}</a>
        {{ end }}
      </span>
    </div>

    
    <div class="contentblock">
    {{ if isset .Params "image" }}
      {{ partial "image.html" . }}
    {{ end }}
    {{- .Content -}}
    </div>
  </article>
</div>
{{ end }}
