{{ define "main" }}
<div class="content">
  <div class="columns"></div>
{{ range first 10 (where .Site.RegularPages "Section" "posts") -}}
    <div class="column">
      <article>
        <div class="head">
          <span class="headline hl1">
            <a class="headline" href="{{ .RelPermalink }}">{{ .Title | upper }}</a>
          </span>
          <p>
            <span class="headline hl4">
              <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02, 2006"}}</time>
            </span>
          </p>
        </div>
        <p>{{ .Summary }}</p>
      </article>
    </div>
{{ end }}
  </div>
</div>
{{ end }}
